body {
    background-image: url("https://images2.alphacoders.com/740/thumb-1920-740460.png");
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 2rem;
    
    
}


.container h1 {
    background-color:white;
    background-repeat: cover;
    height: 100% ;
    width: 100%;
    color:black;
    box-sizing: border-box;
    font-family: "Bookman";
}



.container{
    background-color: white ;
    padding: 50px 0 50px;
}


.container button {
    
    border: 3px solid orange;
    color: black;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "sans-serif";
    font-size: 12px;
    padding: 0.7rem 1.2rem;
    border-radius: 1.5rem;

}

.container input[type=submit]{
    border: 3px solid orange;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "sans-serif";
    font-size: 8px;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.container input[id=text] {
    font-family: "sans-serif";
}

